[submodule "drivers/stm32f0xx-hal-driver"]
	path = drivers/stm32f0xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f0xx-hal-driver
[submodule "drivers/cmsis-device-f0"]
	path = drivers/cmsis-device-f0
	url = https://github.com/STMicroelectronics/cmsis-device-f0.git
[submodule "drivers/cmsis-core"]
	path = drivers/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core
